<body>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <div class="small-6 large-centered columns">
        <div class="row">
          <i class="fi-torso"></i>
        </div>
        <div class="row">
          <label id="username">Username: </label>
          <%=@user_info.user_name%>
        </div>
        <div class="row">
          <label id="wins">Wins: </label>
          <%=@user_info.matches_won%>
        </div>
        <div class="row">
          <label id="losses">Losses: </label>
          <%=@user_info.matches_lost%>
        </div>
      </div>
    </div>

    <div class="large-9 medium-9 columns" id="games-list">
      <div class="row">
        <div class="small-10 large-centered columns">

          <h4>All Matches</h4>
          <div class="panel">
            <ul>

            </ul>
          </div>

        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button">View Game</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-10 large-centered columns">
          <h4>Pick an opponent</h4>
          <div class="panel">

            <select name="select">
              <option value="value1">Value 1</option>
              <option value="value2" selected>Value 2</option>
              <option value="value3">Value 3</option>
            </select>

          </div>
        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button success">New Game</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</body>
