<body>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <div class="small-6 large-centered columns">
        <div class="row">
          <i class="fi-torso"></i>
        </div>
        <div class="row">
          <label id="username">User: </label>
        </div>
        <div class="row">
          <label id="wins">Wins: </label>
        </div>
        <div class="row">
          <label id="losses">Losses: </label>
        </div>
      </div>
    </div>

    <div class="large-9 medium-9 columns" id="games-list">
      <div class="row">
        <div class="small-10 large-centered columns">

          <h4>Games</h4>
          <div class="panel">
            <ul>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button">Select Game</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-10 large-centered columns">
          <h4>Users</h4>
          <div class="panel">

            <select name="select">
              <option value="value1">Value 1</option>
              <option value="value2" selected>Value 2</option>
              <option value="value3">Value 3</option>
            </select>

          </div>
        </div>
      </div>

      <div class="small-3 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button success">New Game</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</body>
