<body>

  <div class="row">

    <div class="large-3 medium-3 columns">
      <div class="small-6 large-centered columns">
        <div class="row">
          <i class="fi-torso"></i>
        </div>
        <div class="row">
          <label id="username">User: </label>
        </div>
        <div class="row">
          <label id="wins">Wins: </label>
        </div>
        <div class="row">
          <label id="losses">Losses: </label>
        </div>
      </div>
    </div>

    <div class="large-9 medium-9 columns" id="games-list">
      <div class="row">
        <div class="small-10 large-centered columns">
          <h4>Player 1: <%= @player1_name %> vs. Player 2: <%= @player2_name %></h4>
          <div class="panel">
            <ul.disc>
              <% @round_data.each do |round| %>
              <li> <%= round["p1_move"] %> vs. <%= round["p2_move"] %>: </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="small-5 large-centered columns">
        <div class="row">
          <ul class="button-group radius">
            <li><a href="#" class="small button">Rock</a></li>
            <li><a href="#" class="small button">Paper</a></li>
            <li><a href="#" class="small button">Scissors</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</body>
