<body>

  <div class="small-3 small-centered columns">
    <div class="row">
      <h3>Get started!</h3>
    </div>
    <form method="post" action="/register">
      <div class="row">
        <input type="text" placeholder="Username" id="username-field" name="english"/>
      </div>
      <div class="row">
        <input type="text" placeholder="Password" id="password" name="english" />
      </div>
      <div class="row">
        <input class="button" type="submit" value="Sign Up">
      </div>
      <div class="row">
        Already registered? <a href="/">Start playing.</a>
      </div>
    </form>
  </div>

</body>
