<body>

  <div class="small-3 small-centered columns">
    <div class="row">
      <h3>Get started!</h3>
    </div>
    <form method="post" action="/register">
      <div class="row">
        <input type="text" placeholder="Username" id="blah" name="user_name"/>
      </div>
      <div class="row">
        <input type="text" placeholder="Password" id="blah" name="password" />
      </div>
      <div class="row">
        <input class="button" type="submit" value="Sign Up">
      </div>
      <div class="row">
        Already registered? <a href="/">Login Here</a>
        <% if !@error.nil? %>
           <p><%= @error %></p>
         <% end %>    
      </div>
    </form>
  </div>

</body>
